<?xml version="1.0" encoding="UTF-8"?>
<?include Branding.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="$(var.Branding_Product)"
          Version="!(bind.packageVersion.$(var.Branding_Product)_x64)"
          Manufacturer="$(var.Branding_Company)"
          UpgradeCode="4D31153D-B709-4EB9-AB2B-E5DD8834A5FA"
          DisableModify="yes" AboutUrl="https://github.com/6XGate/TortoisePlink">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
            LicenseUrl="https://github.com/6XGate/TortoisePlink/blob/master/LICENSE"/>
    </BootstrapperApplicationRef>

		<Chain>
      <MsiPackage Id="$(var.Branding_Product)_x86"
                  SourceFile="$(var.TortoisePlink_x86.TargetPath)"
                  Compressed="no" InstallCondition="NOT VersionNT64" />
      <MsiPackage Id="$(var.Branding_Product)_x64"
                  SourceFile="$(var.TortoisePlink_x64.TargetPath)"
                  Compressed="no" InstallCondition="VersionNT64" />
		</Chain>
	</Bundle>
</Wix>
